---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Advisor Wanted">

  
    <section>
    </BaseLayout>
    
    </section>
    
<ul>
    <li><h1><a href="https://github.com/dwatersonIO/django-crud-cbv">Django Class-Based Views Crud App</a></h1></li>
    <li><h1><a href="https://github.com/dwatersonIO/astro-blog-glob">Astro 2 Blog using the Glob API</a></h1></li>
    <li><h1><a href="https://github.com/dwatersonIO/astro-blog-collections">Astro 4 Blog using the Contents Collections API</a></h1></li>
    <li><h1><a href="https://github.com/dwatersonIO/django-crud-fbv">Django Function-Based View Crud App With HTMX</a></h1></li>
</ul>


<style>
    ul {
        list-style-type:none;
        margin-left: 0px;
        color: var(--text-col);
        font-size: calc(var(--text-size) * .9);
        border-radius: 1em; 
        padding: 10px 10px 10px 10px; 
        background-color: var(--bg-col-fade);
        margin: 10px 0  0 0 ;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: dotted;
        text-decoration-line: underline;
    }
    
    
.blog-post-preview {

}
    </style>